[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "EBMAforecast"]
	path = EBMAforecast
	url = https://github.com/fhollenbach/ebma
	subdir = EBMAforecast
